body
{
    font-family: Ariel;
    font-size: 15px;
    color: black;
    margin: 0;
    padding: 0;
    background: #FFF;
}

form, h1, h2, h3, h4, input
{
        padding:0;
        margin:0;
}

.head {
    background-color:black;
	background-image: url('../gfx/backg.jpg');
	background-repeat: repeat-x;
	height:36px;
	line-height:36px;
	padding-right:10px;
	color: white;
    text-align:right;
}

.browserid-image, .browserid-login, .browserid-logout {
    color:#FFF;
    font-weight:bolder;
}

.browserid-login, .browserid-logout {
    color: yellow;
    border-bottom:2px dashed green;
    cursor: pointer;
}
